html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

header, footer, main, article, aside, details,
figcaption, figure, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr {
  margin-bottom: 12px;
}

html {
  color: #000;
  background-color: #f2f2f2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  overflow-y: scroll;
  min-height: 100%;
}

h1,
.c-h1 {
  font-size: 1.875rem;
  line-height: 1.6;
  letter-spacing: -0.02em;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

h2,
.c-h2 {
  font-size: 1.375rem;
  line-height: 1.09091;
  letter-spacing: -0.02em;
  font-weight: 600;
  margin-top: 3rem;
}

h3,
.c-h3 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
}

h4,
.c-h4 {
  font-size: 0.875rem;
  line-height: 1.71429;
}

h5,
.c-h5 {
  font-size: 0.75rem;
  line-height: 2;
}

h6,
.c-h6 {
  font-size: 0.625rem;
  line-height: 2.4;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

code {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 0.375rem;
}

sub,
sup {
  vertical-align: baseline;
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

sub {
  top: 0.3em;
}

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

small {
  font-size: 0.625rem;
  line-height: 2.4;
}

hr {
  border: solid #e5e5e5;
  border-width: 1px 0 0;
  height: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li ul,
li ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd,
ol,
ul {
  margin-left: 1.3333rem;
}

a {
  color: #cf343d;
  text-decoration: underline;
  transition: 0.2s;
}

a:hover {
  text-decoration: none;
}

img {
  border: 0;
  max-width: 100%;
  height: inherit;
  font-style: italic;
  vertical-align: middle;
}

img[width], img[height] {
  max-width: none;
}

.o-box {
  display: block;
  padding: 1.5rem;
}

.o-box:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.o-box > :last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  .o-box--small {
    padding: 0.75rem;
  }
  .o-box--large {
    padding: 3rem;
  }
  .o-box--giant {
    padding: 6rem;
  }
}

.o-box--flush {
  padding-left: 0;
  padding-right: 0;
}

.o-box--flat {
  padding-top: 0;
  padding-bottom: 0;
}

.o-island {
  display: block;
  margin-bottom: 1.5rem;
}

.o-island:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.o-island > :last-child {
  margin-bottom: 0;
}

.o-island--small {
  margin-bottom: 0.75rem;
}

.o-island--large {
  margin-bottom: 3rem;
}

.o-layout {
  margin-left: auto;
  margin-right: auto;
}

.o-layout:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.o-layout .o-layout {
  width: auto;
  margin-left: -12px;
  margin-right: -12px;
}

.o-layout__item {
  float: left;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.o-list-bare {
  list-style: none;
  margin: 0;
}

.o-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
}

.o-wrapper:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.c-card {
  background-color: #fff;
  box-shadow: 0 1.2rem 3.6rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 3rem;
}

.c-site-header {
  margin-bottom: 3rem;
}

.c-site-header__logo {
  font-size: 0.875rem;
  line-height: 1.71429;
  font-weight: 600;
  margin-bottom: 0;
}

.c-navigation__item.is-selected a {
  background-color: rgba(207, 52, 61, 0.2);
}

.c-navigation__link {
  display: block;
  color: #000;
  line-height: 1em;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 0.375rem;
  padding: 0.75rem;
}

.c-navigation__link:hover {
  background-color: #e5e5e5;
}

.u-screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.u-skip-link {
  color: #cf343d;
  background-color: #fafafa;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 16px 7px;
  outline: none;
  transition: 0s;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.u-skip-link:focus {
  left: 15px;
  top: 15px;
  clip: auto;
  width: auto;
  height: auto;
  z-index: 900;
}

.u-clearfix:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.u-hidden {
  display: none !important;
}

@media screen and (max-width: 599px) {
  .u-hidden-small {
    display: none !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 969px) {
  .u-hidden-medium {
    display: none !important;
  }
}

@media screen and (min-width: 970px) {
  .u-hidden-large {
    display: none !important;
  }
}

.u-relative {
  position: relative !important;
}

.u-pull-left {
  float: left !important;
}

.u-pull-right {
  float: right !important;
}

.u-margin-small {
  margin: 12px !important;
}

.u-margin-top-small {
  margin-top: 12px !important;
}

.u-margin-right-small {
  margin-right: 12px !important;
}

.u-margin-bottom-small {
  margin-bottom: 12px !important;
}

.u-margin-left-small {
  margin-left: 12px !important;
}

.u-margin-medium {
  margin: 24px !important;
}

.u-margin-top-medium {
  margin-top: 24px !important;
}

.u-margin-right-medium {
  margin-right: 24px !important;
}

.u-margin-bottom-medium {
  margin-bottom: 24px !important;
}

.u-margin-left-medium {
  margin-left: 24px !important;
}

.u-margin-large {
  margin: 48px !important;
}

.u-margin-top-large {
  margin-top: 48px !important;
}

.u-margin-right-large {
  margin-right: 48px !important;
}

.u-margin-bottom-large {
  margin-bottom: 48px !important;
}

.u-margin-left-large {
  margin-left: 48px !important;
}

.u-padding-small {
  padding: 12px !important;
}

.u-padding-top-small {
  padding-top: 12px !important;
}

.u-padding-right-small {
  padding-right: 12px !important;
}

.u-padding-bottom-small {
  padding-bottom: 12px !important;
}

.u-padding-left-small {
  padding-left: 12px !important;
}

.u-padding-medium {
  padding: 24px !important;
}

.u-padding-top-medium {
  padding-top: 24px !important;
}

.u-padding-right-medium {
  padding-right: 24px !important;
}

.u-padding-bottom-medium {
  padding-bottom: 24px !important;
}

.u-padding-left-medium {
  padding-left: 24px !important;
}

.u-padding-large {
  padding: 48px !important;
}

.u-padding-top-large {
  padding-top: 48px !important;
}

.u-padding-right-large {
  padding-right: 48px !important;
}

.u-padding-bottom-large {
  padding-bottom: 48px !important;
}

.u-padding-left-large {
  padding-left: 48px !important;
}

.u-no-margin {
  margin: 0 !important;
}

.u-no-margin-top {
  margin-top: 0 !important;
}

.u-no-margin-right {
  margin-right: 0 !important;
}

.u-no-margin-bottom {
  margin-bottom: 0 !important;
}

.u-no-margin-left {
  margin-left: 0 !important;
}

.u-no-padding {
  padding: 0 !important;
}

.u-no-padding-top {
  padding-top: 0 !important;
}

.u-no-padding-right {
  padding-right: 0 !important;
}

.u-no-padding-bottom {
  padding-bottom: 0 !important;
}

.u-no-padding-left {
  padding-left: 0 !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-center {
  text-align: center !important;
}

.u-no-wrap {
  white-space: nowrap !important;
}

.u-text-truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.u-text-small {
  font-size: 0.625rem !important;
}

.u-text-no-decoration {
  text-decoration: none !important;
}

.u-text-error {
  color: #f00 !important;
}

.u-text-success {
  color: #0f0 !important;
}

.u-1of2 {
  width: 50% !important;
}

.u-2of2 {
  width: 100% !important;
}

.u-1of3 {
  width: 33.33333% !important;
}

.u-2of3 {
  width: 66.66667% !important;
}

.u-3of3 {
  width: 100% !important;
}

.u-1of4 {
  width: 25% !important;
}

.u-2of4 {
  width: 50% !important;
}

.u-3of4 {
  width: 75% !important;
}

.u-4of4 {
  width: 100% !important;
}

.u-1of8 {
  width: 12.5% !important;
}

.u-2of8 {
  width: 25% !important;
}

.u-3of8 {
  width: 37.5% !important;
}

.u-4of8 {
  width: 50% !important;
}

.u-5of8 {
  width: 62.5% !important;
}

.u-6of8 {
  width: 75% !important;
}

.u-7of8 {
  width: 87.5% !important;
}

.u-8of8 {
  width: 100% !important;
}

@media screen and (min-width: 475px) {
  .u-1of2-small {
    width: 50% !important;
  }
  .u-2of2-small {
    width: 100% !important;
  }
  .u-1of3-small {
    width: 33.33333% !important;
  }
  .u-2of3-small {
    width: 66.66667% !important;
  }
  .u-3of3-small {
    width: 100% !important;
  }
  .u-1of4-small {
    width: 25% !important;
  }
  .u-2of4-small {
    width: 50% !important;
  }
  .u-3of4-small {
    width: 75% !important;
  }
  .u-4of4-small {
    width: 100% !important;
  }
  .u-1of8-small {
    width: 12.5% !important;
  }
  .u-2of8-small {
    width: 25% !important;
  }
  .u-3of8-small {
    width: 37.5% !important;
  }
  .u-4of8-small {
    width: 50% !important;
  }
  .u-5of8-small {
    width: 62.5% !important;
  }
  .u-6of8-small {
    width: 75% !important;
  }
  .u-7of8-small {
    width: 87.5% !important;
  }
  .u-8of8-small {
    width: 100% !important;
  }
}

@media screen and (min-width: 600px) {
  .u-1of2-medium {
    width: 50% !important;
  }
  .u-2of2-medium {
    width: 100% !important;
  }
  .u-1of3-medium {
    width: 33.33333% !important;
  }
  .u-2of3-medium {
    width: 66.66667% !important;
  }
  .u-3of3-medium {
    width: 100% !important;
  }
  .u-1of4-medium {
    width: 25% !important;
  }
  .u-2of4-medium {
    width: 50% !important;
  }
  .u-3of4-medium {
    width: 75% !important;
  }
  .u-4of4-medium {
    width: 100% !important;
  }
  .u-1of8-medium {
    width: 12.5% !important;
  }
  .u-2of8-medium {
    width: 25% !important;
  }
  .u-3of8-medium {
    width: 37.5% !important;
  }
  .u-4of8-medium {
    width: 50% !important;
  }
  .u-5of8-medium {
    width: 62.5% !important;
  }
  .u-6of8-medium {
    width: 75% !important;
  }
  .u-7of8-medium {
    width: 87.5% !important;
  }
  .u-8of8-medium {
    width: 100% !important;
  }
}

@media screen and (min-width: 970px) {
  .u-1of2-large {
    width: 50% !important;
  }
  .u-2of2-large {
    width: 100% !important;
  }
  .u-1of3-large {
    width: 33.33333% !important;
  }
  .u-2of3-large {
    width: 66.66667% !important;
  }
  .u-3of3-large {
    width: 100% !important;
  }
  .u-1of4-large {
    width: 25% !important;
  }
  .u-2of4-large {
    width: 50% !important;
  }
  .u-3of4-large {
    width: 75% !important;
  }
  .u-4of4-large {
    width: 100% !important;
  }
  .u-1of8-large {
    width: 12.5% !important;
  }
  .u-2of8-large {
    width: 25% !important;
  }
  .u-3of8-large {
    width: 37.5% !important;
  }
  .u-4of8-large {
    width: 50% !important;
  }
  .u-5of8-large {
    width: 62.5% !important;
  }
  .u-6of8-large {
    width: 75% !important;
  }
  .u-7of8-large {
    width: 87.5% !important;
  }
  .u-8of8-large {
    width: 100% !important;
  }
}

.u-full-width {
  width: 100% !important;
  max-width: none !important;
}

.u-reset-width {
  width: auto !important;
  max-width: none !important;
}
